// Text color
$text-color: color(dark);

// Rhythm
$base-unit:   8px;
$base-rhythm: 3;
$rhythms: (
  'base':   $base-rhythm,
  'half':   $base-rhythm / 2,
  'double': $base-rhythm * 2,
  'xsmall': 1,
  'small':  2,
  'medium': 4,
  'large':  5
);

$base-size: 16;
$sizes: (
  base: (
    default: $base-size
  ),
  stockholm: (
    default: 40,
    small: 36
  ),
  madrid: (
    default: 32,
    small: 28
  ),
  berlin: (
    default: 24,
    small: 20
  ),
  london: (
    default: 20,
    small: 18
  ),
  oslo: (
    default: 18,
    small: 16
  ),
  paris: (
    default: 16,
    small: 14
  ),
  amsterdam: (
    default: 14,
    small: 12
  ),
  rome: (
    default: 12,
    small: 10
  )
);

// Fonts
$font-primary: 'Helvetica Neue', sans-serif;

// Layout
$max-width: 1140px;

// Breakboints
$mq-breakpoints: (
  'medium':  768px,
  'large':  $max-width
);
