@import '../../../style/abstracts/index.scss';

.toggle-cart {
  border: 0;
  color: color(secondary);
  text-align: right;
  float: right;
  cursor: pointer;
  padding-bottom: 1rem;

  @include mq('xlarge') {
    padding-right: 0;
  }
}


.toggle-cart__text {
  display: block;
  border-bottom: 1px solid color(secondary);
  font-size: 13px;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

.toggle-cart__icon {
  @include set-type(berlin);
  display: inline-block;

  &.animate {
    @include bounce();
  }
}
