@import '../../../style/abstracts/index.scss';

.cart-overview {
  clear: both;
  background-color: color(white);
  margin-bottom: rhythm();

  ul {
    list-style-type: none;

    @include mq('medium') {
        padding-right: rhythm();
        padding-left: rhythm();
    }
  }

  li {
    background-color: color(white);

    &:nth-child(even) {
      background-color: color(cloud);
    }
  }
}

.cart-sum {
  text-align: right;
  padding: 0 rhythm('small') rhythm('small');

  span {
    font-weight: bold;
  }
}

.empty-cart {
  text-transform: none;
  padding: rhythm('small');
  display: flex;
  align-items: center;
  flex-flow: column;

  span {
    @include set-type(madrid, 'small');
    padding-top: rhythm('xsmall');
  }
}
