@mixin cf() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin clearfix($mq-from: false, $mq-until: false) {
  @if ($mq-from == false and $mq-until == false) {
    @include cf;
  } @else {
    @include mq($mq-from, $mq-until) {
      @include cf;
    }
  }
}
