@import '../../../style/abstracts/index.scss';

.product {
  border-top: color(pale) 1px solid;
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;

  @include mq('large') {
    border-top: 0;
    margin-bottom: 2rem;
  }

  img {
    max-width: 80%;
    margin-bottom: 1rem;

    @include mq('medium') {
      max-width: 60%;
    }
  }

  button {
    font-size: 14px;
    position: relative;

    &:disabled {
      border-color: color(pale);
      color: color(pale);
      cursor: not-allowed;
    }

    span {
      padding-right: 1rem;

      &::after {
        font-size: 22px;
        content: '+';
        position: absolute;
        top: 0;
        right: 0.75rem;
      }
    }
  }
}

.product__price {
  margin-bottom: 1.5rem;
  color: #888;
}
