@import '../../../style/abstracts/index.scss';

.products {
  clear: both;
  text-align: center;
}

.product-list {
  margin: 0 auto;
  list-style-type: none;
  padding: rhythm('small') rhythm('medium') rhythm('medium');

  @include mq('medium') {
    display: flex;
    flex-wrap: wrap;
    padding-right: rhythm('double');
    padding-left: rhythm('double');
  }

  @include mq('large') {
    border-top: color(pale) 1px solid;
  }

  @include mq('xlarge') {
    padding-right: 0;
    padding-left: 0;
  }

  li {
    transition: all ease 200ms;

    @include mq('medium') {
      width: 50%;
    }

    @include mq('large') {
      width: 33%;
    }
  }
}
