@import '../../../style/abstracts/index.scss';

.products {
  clear: both;
  text-align: center;
}

.product-list {
  margin: 0 auto;
  list-style-type: none;
  padding: 1rem 2rem 2rem;

  @include mq('medium') {
    dislpay: flex;
  }
}
