@import '../../../style/abstracts/index.scss';

.cart-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: rhythm('xsmall');

  @include mq('large') {
    padding-right: rhythm();
    padding-left: rhythm();
  }

  img {
    max-width: 2.5rem;
    margin-right: rhythm('xsmall');

    @include mq('medium') {
      max-width: rhythm('large');
    }

    @include mq('large') {
      max-width: rhythm(8);
      margin-right: rhythm();
    }
  }

  h4 {
    @include set-type(london, 'small');

    margin: 0;
    width: 9rem;

    @include mq('medium') {
      width: 19rem;
    }

    @include mq('large') {
      @include set-type(paris);
    }
  }
}

.cart-item__edit {
  display: flex;
  width: 7rem;
  align-items: center;
  justify-content: flex-end;

  @include mq('medium') {
    width: auto;
    margin-left: rhythm('double');
  }
}

.cart-item__price {
  margin: 0;
  text-align: right;
  flex: 1;
}

.cart-item__count {
  margin: 0 rhythm('xsmall');
}

.cart-item__remove {
  @include set-type(paris, 'small');

  margin-left: rhythm('xsmall');
  border: 0;
  padding: 0;

  @include mq('medium') {
    margin-left: rhythm('double');
  }

  @include mq('large') {
    @include set-type(london);
  }
}

.cart-item__modify {
  padding: 0;
  border: 0;

  .icon {
    @include set-type(paris);
  }
}
